.container{
    width: 780px;
    height: 650px;
    border: 3px solid black; 
    margin-top: 0;


}
.top-container{

     width: 200px;
     height: 200px;
     background-color: rgb(29, 102, 131);
}
#h1{
margin-top: 0;
}
.middle-container{
      
       width: 200px;
       height: 200px;
       background-color: rgb(30, 32, 162);
}
.bottom-container{
       
       width: 200px;
       height: 200px;
       background-color: rgb(255, 0, 0);
}